<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/lista']"   class="nav-link waves-light" mdbWavesEffect>Lista</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/info']"   class="nav-link waves-light" mdbWavesEffect>Info</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contatti']"   class="nav-link waves-light" mdbWavesEffect>Contatti</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/rating']"   class="nav-link waves-light" mdbWavesEffect>Rating</a>
      </li>

      
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      </div>
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<div class="container mt-5">
  <div class="row justify-content-center">
    <h1>Welcome to {{ title }}!</h1>
  </div>

  <div class="row justify-content-center">
    <img
      width="300"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>

  <router-outlet></router-outlet>

</div>

